.card-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  perspective: 400px;
  &:hover > .card {
    box-shadow: 0 0 10px 10px rgba(49, 57, 64, 0.5);
  }
  &.turnover > .card {
    transform: rotateY(180deg);
  }
}

.card {
  position: relative;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all 0.7s;
  box-shadow: 0 0 10px rgba(49, 57, 64, 0.5);
  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
  }
  &__front {
    width: 90px;
    height: 90px;
    margin: 5px;
  }

  &__back {
    background-image: url("../../assets/card-back/card-back-4.png");
    transform: rotateY(180deg);
  }
}
