.cards-field {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__game {
  display: none;
}
.game--active .main__game {
  display: block;
}
